.container-public {
    .auth-block {
        margin: 30px auto 0;
        max-width: 400px;

        h1, h4, p {
            margin: 10px 0 20px;
        }

        h2 {
            font-size: calc-rem(28px);;
            font-weight: 400;
            letter-spacing: -0.5px;
            line-height: 35px;
            color: $color-green-primary;
        }

        &-header {
            margin: 0 0 10px;

        }

        &-pass-msg {
            margin-bottom: 60px;
        }

        &-footer {
            margin-top: -50px;

            .btn-tertiary {
                width: calc(50% - 10px);
                min-width: 0;
                display: flex;
                font: 700 1rem $font-klima, sans-serif;
            }

            a {
                display: block;
                font: 400 calc-rem(14px) $font-klima;
            }
        }
    }

    .register-block {
        width: 960px;
        max-width: 100%;
        margin: 100px auto auto;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0 5px 20px 0 rgba(203,221,232,0.8), 0 3px 3px 0 #D3E5F0;
        border-radius: $size-border-radius;

        &-content {

            &-success {
                padding: 70px 30px 45px;
                border-top: 2px solid #C2E4FC;
                text-align: center;

                h2 {
                    margin: 0 0 20px;
                }

                p {
                    margin: 0 0 10px;
                }

                .btn-primary {
                    display: inline-block;
                    margin: 30px 0 0;
                }
            }

            &-box {
                padding: 30px 0 40px;
            }
        }

        .logo-wrap {
            margin: 0 auto 40px;
        }

        .progress-steps {
            margin: 0 0 40px;

            li {
                &:first-child:before {
                    width: 0;
                }

                &.progress-steps-active {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}
