.toast-container {
    z-index: 2000 !important; // to override package default
    overflow: initial;
}

.toast {
    position: fixed;
    display: flex;
    max-width: 1100px;
    padding: 5px 60px 5px 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: lighten($color-light-grey, 5%);
    color: $color-green-primary;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
    border-bottom-left-radius: $size-border-radius-l;
    border-bottom-right-radius: $size-border-radius-l;
    transition: transform 220ms cubic-bezier(0.2, 0, 0, 1) 0s;

    &-success {
        color: $color-text-message;
    }

    &-error {
        color: $color-green-primary;

        .toast-content::before {
            background: $icon-alert no-repeat center;
            background-size: contain;
        }
    }

    &-global-error {
        color: $color-green-primary;

        .toast-content::before {
            background: $icon-alert no-repeat center;
            background-size: contain;
        }
    }

    &-warning {
        .toast-content::before {
            background: $icon-top-orange no-repeat center;
            background-size: contain;
        }
    }

    &-content {
        margin: 0 auto;
        padding: 8px 12px;
        font-family: $font-klima;
        text-align: center;
        min-height: 40px;

        &::before {
            content: '';
            display: inline-block;
            margin: 0 0.7em -0.2em -1em;
            width: 20px;
            height: 20px;
            font-size: 1rem;
        }
    }

    &-dismiss {
        position: absolute;
        right: 10px;
        //opacity: 0.5;
        padding: 8px 12px;
        //@include transition(opacity, 150ms);
        cursor: pointer;
    }

    .btn-close {
        color: currentColor;

        &::before,
        &::after {
            background-color: currentColor;
        }
    }
}
