html, body, #app, .main  {
    font: 400 calc-rem(16px) $font-klima;
    min-height: 100vH;
}

body {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 200px;
        bottom: 0;
        left: 0;
        background: url('../../../assets/media/images/layout-bg.png') no-repeat center center;
        background-size: contain;
        opacity: 0.2;
    }
}
