//Klima
@font-face {
    font-family: 'Klima';
    src: url('../../../assets/fonts/klima/klima-regular-web.eot');
    src: url('../../../assets/fonts/klima/klima-regular-web.eot?#iefix') format('embedded-opentype'),
            url('../../../assets/fonts/klima/klima-regular-web.woff2') format('woff2'),
            url('../../../assets/fonts/klima/klima-regular-web.woff') format('woff'),
            url('../../../assets/fonts/klima/klima-regular-web.ttf')  format('truetype'),
            url('../../../assets/fonts/klima/klima-regular-web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Klima';
    src: url('../../../assets/fonts/klima/klima-medium-web.eot');
    src: url('../../../assets/fonts/klima/klima-medium-web.eot?#iefix') format('embedded-opentype'),
            url('../../../assets/fonts/klima/klima-medium-web.woff2') format('woff2'),
            url('../../../assets/fonts/klima/klima-medium-web.woff') format('woff'),
            url('../../../assets/fonts/klima/klima-medium-web.ttf')  format('truetype'),
            url('../../../assets/fonts/klima/klima-medium-web.svg#svgFontName') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klima';
    src: url('../../../assets/fonts/klima/klima-bold-web.eot');
    src: url('../../../assets/fonts/klima/klima-bold-web.eot?#iefix') format('embedded-opentype'),
            url('../../../assets/fonts/klima/klima-bold-web.woff2') format('woff2'),
            url('../../../assets/fonts/klima/klima-bold-web.woff') format('woff'),
            url('../../../assets/fonts/klima/klima-bold-web.ttf')  format('truetype'),
            url('../../../assets/fonts/klima/klima-bold-web.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klima';
    src: url('../../../assets/fonts/klima/klima-light-web.eot');
    src: url('../../../assets/fonts/klima/klima-light-web.eot?#iefix') format('embedded-opentype'),
            url('../../../assets/fonts/klima/klima-light-web.woff2') format('woff2'),
            url('../../../assets/fonts/klima/klima-light-web.woff') format('woff'),
            url('../../../assets/fonts/klima/klima-light-web.ttf')  format('truetype'),
            url('../../../assets/fonts/klima/klima-light-web.svg#svgFontName') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// Raleway
@font-face {
    font-family: 'Raleway';
    src: url('../../../assets/fonts/raleway/Raleway-Regular.eot');
    src: url('../../../assets/fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/raleway/Raleway-Regular.ttf') format('truetype'),
        url('../../../assets/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
        url('../../../assets/fonts/raleway/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../assets/fonts/raleway/Raleway-Medium.eot');
    src: url('../../../assets/fonts/raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/raleway/Raleway-Medium.ttf') format('truetype'),
        url('../../../assets/fonts/raleway/Raleway-Medium.woff2') format('woff2'),
        url('../../../assets/fonts/raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../assets/fonts/raleway/Raleway-SemiBold.eot');
    src: url('../../../assets/fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype'),
        url('../../../assets/fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../../../assets/fonts/raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../assets/fonts/raleway/Raleway-Bold.eot');
    src: url('../../../assets/fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/raleway/Raleway-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('../../../assets/fonts/raleway/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

$font-klima: 'Klima', sans-serif;
$font-raleway: 'Raleway', sans-serif;