// FOR GLOBAL CLASS MARGIN AND PADDING
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 2.5),
    7: ($spacer * 3),
    8: ($spacer * 3.5),
    9: ($spacer * 4),
    10: ($spacer * 4.5),
  ),
  $spacers
);

$container-max-widths: (
  md: 620px,
  lg: 886px,
  xl: 1056px,
  xxl: 1440px,
);


$grid-breakpoints: (
  xs: 0,
  sm: 568px,
  md: 768px,
  lg: 1024px,
  xl: 1400px,
  xxl: 1920px
);

$grid-columns: 12;
$grid-gutter-width: 32px;

// RADIUS SIZES
$size-border-radius-xs: 2px;
$size-border-radius-s: 5px;
$size-border-radius: 8px;
$size-border-radius-l: 12px;

// BREAKPOINTS
$breakpoint-desktop-regular: 1920px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-small: 1280px;
$breakpoint-tablet: 1050px;
$breakpoint-tablet-portrait: 768px;