.dropzone-upload-image {
    //margin: 15px 0;

    .dropzone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: 2px dashed gray;
        border-radius: 5px;
        min-height: 140px;
        background-color: white;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        outline: none;
        transition: border-color 0.3s ease-in-out;

        &:hover{
            border-color: lighten(blue, 40%);
        }

        &.uploaded {
            min-height: 300px;
            background-size: auto 45%;
            background-position-y: 75%;
            padding: 40px 20px;
            justify-content: flex-start;
        }

        .dropzone-placeholder{
            background-color: white;
            padding: 25px;
            border-radius: 5px;
        }

        .icon-upload {
            font-size: 1.5rem;
            fill: blue;
        }

        p {
            color: black;
            font-weight: 700;
            font-size: calc-rem(16px);
            margin-top: calc-rem(10px);
        }
    }
}
